.tag {
    box-sizing: border-box;
    align-items: center;
    margin: 3px 10px 3px 0;
    padding: 5px 10px;
    background-color: #0092e5;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    max-width: 100%;
    word-wrap: break-word;
}

.tag-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin-left: 8px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}
